.cred-title {
  //border: 2px solid red;
  color: #22267b;
  padding: 8px;
  h1 {
    font-size: 20px;
    font-weight: 700;
  }
}

.cred-card-style {
  border: 2px solid #e9e9e9;
  text-decoration: none;
  padding: 16px;
  margin-top: 12px;
  border-radius: 8px;
  box-shadow: 10px 10px 75px 0px rgba(128, 128, 128, 0.24);
  list-style-type: none;
  h4 {
    font-size: 16px;
    color: #000;
    font-weight: 700;
  }
  p {
    color: #000;
  }
}

.no-education {
  //border: 2px solid orange;
  color: rgb(196, 196, 196);
}

.education-title {
  //border: 2px solid red;
  color: #22267b;
  padding: 8px;
  margin-top: 16px;
  h1 {
    font-size: 20px;
    font-weight: 700;
  }
}
